<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4d688756-2dd3-423c-8611-141bb5ef0305/resourceGroups/choudharygroup/providers/Microsoft.Web/sites/RITIKANDSON</ResourceId>
    <ResourceGroup>choudharygroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ritikandson.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>ritikandson.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RITIKANDSON</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$RITIKANDSON</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="elibraryDBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=AEEX\SQLEXPRESS;Initial Catalog=elibraryDB;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=AEEX\SQLEXPRESS;Initial Catalog=elibraryDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\elibraryDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=AEEX\SQLEXPRESS;Initial Catalog=elibraryDB;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="con" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=AEEX\SQLEXPRESS;Initial Catalog=elibraryDB;Integrated Security=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\con_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=AEEX\SQLEXPRESS;Initial Catalog=elibraryDB;Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)con-Web.config Connection String" />
    <MSDeployParameterValue Include="elibraryDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=AEEX\SQLEXPRESS;Initial Catalog=elibraryDB;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>