.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #AAB7B8;
    height: 50px;
}

#footer2 {
    background: #95A5A6;
    height: 45px;
}
